<html>
  <head>
  <title>MakersBnB</title>
  <style>
    h1 {

      font-size: 50px;
      color: white;

    }
    marquee {
      position: static;
      top: 300;
      font-size: 40px;
    }

    .container {
      position: relative;
      text-align: center;

    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;

    }
    </style>
  </head>

  <body>
    <div class="container">

   <img alt="IMG" src="/img1.png" style="width:100%;">

   <div class="centered">
  <marquee><i>Makers Academy students get 90% OFF!!!</marquee>

    <h1>Welcome to Makers BnB</h1>

    <% if !@user.nil? %>
      <p>Hello, <%= @user.user_name %></p>
      <form action ="/spaces" method="get">
        <button type="submit">List of Spaces</button>
      </form>
      <form action ="/bookings" method="get">
        <button type="submit">Booking Requests</button>
      </form>
      <form action ="/approvals" method="get">
        <button type="submit">Approvals</button>
      </form>
      <form action ="/accounts/logout" method="post">
        <button type="submit">Log Out</button>
      </form>
    <% else %>

    <form action="/accounts/new" method="get">
      <button type="submit">Sign Up</button>
    </form>

    <form action="/accounts/sign_in" method="post">
      <input type="text" name="user_name" placeholder="johnsnow10" required>
      <input type="password" name="password" placeholder="password" required>
      <button type="submit">Sign In</button>
    </form>

    <% end %>

  </body>
</html>

<!-- bookings button or link, - for the guest , to see status of booking request -->
<!-- approvals button or link, - for owners to see requests for their spaces -->
