<html>
  <head>
  <title>MakersBnB</title>
  </head>

  <body>

    <h1>Welcome to Makers BnB</h1>

    <p>hello, testuser</p>

    <form action="/accounts/new" method="get">
      <button type="submit">Sign Up</button>
    </form>

    <form action="/accounts/sign_in" method="get">
      <input type="text" name="user_name" placeholder="johnsnow10" required>
      <input type="password" name="password" placeholder="password" required>
      <button type="submit">Sign In</button>
    </form>

  </body>
</html>