<html>
<head>

<style>
  h1 {

    font-size: 50px;
    color: white;

  }
  marquee {
    position: absolute;
    bottom: 500;
    font-size: 65px;
  }


  .container {
    position: relative;
    text-align: center;

  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;

  }



  </style>
  </head>
  <body>

<div class="container">
  <img alt="IMG" src="/img6.png" style="width:100%;">
  <div class="centered">




<h1> Please fill in this form </h1>

<form action="/spaces" method="post">
  Space name: <input type="text" name="space_name" placeholder="your space here" required><br>
  Description: <input type="text" name="description" placeholder="your description here" required><br>
  Price per night: <input type="text" name="price_per_night" placeholder="price here" required><br>
  From Day: <input type="text" name="from_day" placeholder="start date here" required><br>
  From Month: <select name="from_month">
        <option value = "01">January</option>
        <option value = "02">February</option>
        <option value = "03">March</option>
        <option value = "04">April</option>
        <option value = "05">May</option>
        <option value = "06">June</option>
        <option value = "07">July</option>
        <option value = "08">August</option>
        <option value = "09">September</option>
        <option value = "10">October</option>
        <option value = "11">November</option>
        <option value = "12">December</option>
        </select><br>
  To Day: <input type="text" name="to_day" placeholder="end date here" required><br>
  To Month: <select name="to_month">
        <option value = "01">January</option>
        <option value = "02">February</option>
        <option value = "03">March</option>
        <option value = "04">April</option>
        <option value = "05">May</option>
        <option value = "06">June</option>
        <option value = "07">July</option>
        <option value = "08">August</option>
        <option value = "09">September</option>
        <option value = "10">October</option>
        <option value = "11">November</option>
        <option value = "12">December</option>
        </select><br>
  <button type="submit">Submit</button>
</form>
</body>
