<h1> Select preferred dates </h1>

<form action="/bookings/create" method="post">
  From Day: <input type="text" name="from_day_guest" placeholder="start date here" required><br>
  From Month: <select name="from_month_guest">
        <option value = "01">January</option>
        <option value = "02">February</option>
        <option value = "03">March</option>
        <option value = "04">April</option>
        <option value = "05">May</option>
        <option value = "06">June</option>
        <option value = "07">July</option>
        <option value = "08">August</option>
        <option value = "09">September</option>
        <option value = "10">October</option>
        <option value = "11">November</option>
        <option value = "12">December</option>
        </select><br>
  To Day: <input type="text" name="to_day_guest" placeholder="end date here" required><br>
  To Month: <select name="to_month_guest">
        <option value = "01">January</option>
        <option value = "02">February</option>
        <option value = "03">March</option>
        <option value = "04">April</option>
        <option value = "05">May</option>
        <option value = "06">June</option>
        <option value = "07">July</option>
        <option value = "08">August</option>
        <option value = "09">September</option>
        <option value = "10">October</option>
        <option value = "11">November</option>
        <option value = "12">December</option>
        </select><br>
  <button type="submit">Submit</button>
</form>
