<html>
  <head>
  <title>MakersBnB: Sign-Up</title>
  </head>

  <body>

    <h1>Sign-up for an Account</h1>

    <form action="/accounts/create" method="post">
      <input type="text" name="user_name" required>
      <input type="email" name="email" required>
      <input type="password" name="password" required>
      <input type="password_confirm" name="password_confirm">

      <button type="submit">Create Account</button>
      <button type="reset">Reset</button>
    </form>

  </body>
</html>